* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  margin: 5px;
}

.membership-slider {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

hr {
  border-color: black;
}

.redirect-button {
  display: inline-block;
  font-family: Oswald, sans-serif;
  background-color: black;
  color: #f5f5f5;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 8px;
  margin: 10px;
}

.redirect-button:hover {
  box-shadow: 5px 5px red;
  transition-duration: 1.2s;
  margin-left: 12px;
  margin-right: 12px;
  padding: 10px;
}
