* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  margin: 5px;
  overflow-x: hidden;
}

#membership-slider {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  scroll-behavior: smooth;
}

hr {
  border-color: black;
}

.redirect-button-1 {
  display: inline-block;
  font-family: Oswald, sans-serif;
  color: #f5f5f5;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 8px;
  margin: 10px;
  transition: 1.2s ease-in-out;
}

.redirect-button-1:hover {
  box-shadow: 5px 5px red;
  margin-left: 12px;
  margin-right: 12px;
  padding: 10px;
}

@keyframes redirect-button-2-animation {
  from {
    border-color: rgb(203, 77, 77);
  }
  50% {
    border-color: rgb(219, 216, 161);
  }
  to {
    border-color: rgb(220, 236, 204);
  }
}

.redirect-button-2 {
  background: linear-gradient(rgb(88, 87, 87) -30%, white, black 215%);
  min-width: 21vw;
  display: inline-block;
  padding: 35px;
  text-align: center;
  font-size: 15px;
  color: black;
  background-color: black;
  border-color: rgb(197, 25, 25);
  border-width: 3px;
  transition: all;
  transition-duration: 2s;
  animation-name: redirect-button-2-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-direction: alternate;
}

.redirect-button-2:hover {
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */

  color: rgb(135, 135, 135);
}

#card {
  cursor: pointer;
}

#sign-in,
#sign-up {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  top: 50%;
}

.sign-in-btn,
.sign-in-input {
  margin: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.btn-hover:hover {
  background-color: #ffffff;
  color: black;
}

.sign-in-input *::placeholder {
  color: black;
}

#saved-shoes-icon {
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

#saved-shoes-icon:hover {
  color: red;
}

.navbar-icon {
  box-sizing: border-box;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.navbar-icon:hover {
  padding: 3px;
}

.footer-icon {
  cursor: pointer;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.footer-icon:hover {
  color: rgb(172, 165, 165);
}

#nav-bar-input:focus {
  border-top: 1px;
  border-width: 1px;
}

#nav-bar-input::placeholder {
  color: rgb(79, 78, 78);
}

.brand-icon {
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.brand-icon:hover {
  color: gray;
}

.collapse-btn {
  max-width: 45%;
}

@media (max-width: 640px) {
  .collapse-btn {
    margin-left: 25%;
  }
}

#navbar-sign-in-btn {
  visibility: hidden;
}

@media (min-width: 430px) {
  #navbar-sign-in-btn {
    visibility: visible;
  }
}

.arrow-btn {
  cursor: pointer;
  border-radius: 50%;
  color: black;
  background-color: rgb(221, 219, 219);
  padding: 3px;
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.arrow-btn:hover {
  opacity: 20%;
  color: white;
  background-color: gray;
}

#page-title span {
  transition: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

#page-title:hover span {
  color: red;
}

/* #shoe-page-main-section {
} */

#footer{
  position: sticky;
}